name: Chek!
on:
  schedule:
    - cron:  '*/5 * * * *'
jobs:
  ping:
    runs-on: ubuntu-20.04
    steps:

      - name: curl actuator
        id: ping
        run: |
          echo "::set-output name=status::$(curl --write-out %{http_code} --silent ${{ secrets.SERVER_HOST }})"
      - name: health check
        run: |
          if [[ ${{ steps.ping.outputs.status }} != *"200"* ]]; then
            echo "health check is failed"
            exit 1
          fi
          echo "It's OK"
